.container{
	background: #111;
	display: flex;
	justify-content:center;
	min-height: 100vh;
	min-width: 100vw;
	align-items: center;
	margin: 0;
}

canvas{
	background: radial-gradient(#868686, #212121);
	/*border: 4px solid #666;*/
	border-radius: 6px;
	/*flex: 1;*/
	display: block;
	
}
